<div class="post row">
  <div class="post-title twelve columns">
    <h4><a href="{{ url_for('view_post', post_id=post.id) }}">{{ post.title }}</a></h4>
  </div>
  <div class="post-body twelve columns">
    <p>{{ post.body }}</p>
  </div>
  <hr>
  <div class="post-links row twelve columns">
    <div class="author six columns">
      {% if current_user==post.author %}
      <p>by you, {{ moment(post.timestamp).fromNow() }}</p>
      {% else %}
      <p>by {{ post.author.nickname }} <a href="{{ url_for('view_profile', user_id=post.author.id) }}">@{{ post.author.username }}</a>, {{ moment(post.timestamp).fromNow() }}</p>
      {% endif %}
    </div>
    <div class="comments-count six columns u-pull-right">
      <a class="u-pull-right" href="{{ url_for('view_post', post_id=post.id) }}">{{ post.comments.count() }} comments</a>
    </div>
  </div>
</div>
