<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{ title }} - smolblog</title>
    {% else %}
    <title>im smolblog</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="row u-full-width">
        <div class="six columns">
          <h1>smolblog</h1>
        </div>
        <div class="u-pull-right">
          <a class="button" href="{{ url_for('index') }}">Home</a>
          {% if current_user.is_anonymous %}
          <a class="button" href="{{ url_for('login') }}">Login</a>
          {% else %}
          <a class="button" href="{{ url_for('view_profile', user_id=current_user.id) }}">Profile</a>
          <a class="button" href="{{ url_for('logout') }}">Logout</a>
          {% endif %}
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>
  </body>
</html>
