<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{ title }} - smolblog</title>
    {% else %}
    <title>im smolblog</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="header row u-full-width">
        <div class="logo six columns">
          <h1><a href="{{ url_for('index') }}">smolblog</a></h1>
        </div>
        <div class="nav u-pull-right">
          {% if current_user.is_anonymous %}
          <a class="button" href="{{ url_for('login') }}">Login</a>
          or
          <a class="button" href="{{ url_for('register') }}">Register</a>
          {% else %}
          <a class="button" href="{{ url_for('feed') }}">Feed</a>
          <a class="button" href="{{ url_for('view_profile', user_id=current_user.id) }}">Profile</a>
          <a class="button" href="{{ url_for('logout') }}">Logout</a>
          {% endif %}
        </div>
    </div>

    <div class="content row">
      <div class="six columns offset-by-three columns">
        <div class="row flash-messages">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <pre><code><span>{{ message }}</span></code></pre>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>

        {% block content %}{% endblock %}
      </div>
    </div>

    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>
    {{ moment.include_moment() }}
  </body>
</html>
