{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="twelve columns">
      <a class="button" href="{{ url_for('index') }}">To index</a>
      <a class="button" href="{{ url_for('view_post',post_id=post.id) }}">To view</a>
      <a class="button u-pull-right" href="{{ url_for('delete_post', post_id=post.id) }}">Delete post</a>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <h3>Edit post</h3>
    </div>
  </div>

  <div class="row">
    <form action="" method="post">
      {{ form.hidden_tag() }}

      <div class="twelve columns">
        <h5>{{ form.title.label }}</h5>
        {{ form.title(size=32)}} <br>
        {% for error in form.title.errors %}
        <pre><code><span>[{{ error }}]</span></code></pre>
        {% endfor %}
      </div>
      <div class="twelve columns">
        <h5>{{ form.body.label }}</h5>
        {{ form.body(cols=32, rows=6) }} <br>
        {% for error in form.body.errors %}
        <pre><code><span>[{{ error }}]</span></code></pre>
        {% endfor %}
      </div>

      <p>{{ form.submit() }}</p>
    </form>
  </div>
{% endblock %}
