{% extends "base.html" %}

{% block content %}
  {% if current_user.is_authenticated and form %}
  <div class="new-post row">
    <div class="twelve columns">
      <h3>New Post</h3>
    </div>
    <form action="" method="post">
      {{ form.hidden_tag() }}

      <div class="twelve columns">
        <h5>{{ form.title.label }}</h5>
        {{ form.title(size=32)}} <br>
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="twelve columns">
        <h5>{{ form.body.label }}</h5>
        {{ form.body(cols=32, rows=6) }} <br>
        {% for error in form.body.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <p>{{ form.submit() }}</p>
    </form>
  </div>
  {% endif %}

  <div class="posts row">
  {% for post in posts %}
    {% include '_post.html' %}
  {% endfor %}
  </div>
{% endblock %}
