{% extends "base.html" %}

{% block content %}
  <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="row">
          <div class="twelve columns">
            {{ form.username.label }}
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            {{ form.password.label }}
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
          </div>
        </div>
    </form>
{% endblock %}
