{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="twelve columns">
      <h3>Register</h3>
    </div>
  </div>

  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <div class="row">
      <div class="six columns">
        <h5>{{ form.username.label }}</h5>
      </div>
      <div class="six columns">
        {{ form.username(size=32) }}
      </div>
      <div class="twelve columns">
        {% for error in form.username.errors %}
        <pre><code><span>[{{ error }}]</span></code></pre>
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <h5>{{ form.password.label }}</h5>
      </div>
      <div class="six columns">
        {{ form.password(size=32) }}
      </div>
      <div class="twelve columns">
        {% for error in form.password.errors %}
        <pre><code><span>[{{ error }}]</span></code></pre>
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <h5>{{ form.password2.label }}</h5>
      </div>
      <div class="six columns">
        {{ form.password2(size=32) }}
      </div>
      <div class="twelve columns">
        {% for error in form.password2.errors %}
        <pre><code><span>[{{ error }}]</span></code></pre>
        {% endfor %}
      </div>
    </div>

    <div class="row">
      {{ form.submit() }}
    </div>
  </form>
{% endblock %}
